.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.formError {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-error);
  background: var(--color-error-container);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-lg);
}
